.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

.image {
    width: 92vw;
    height: 92vh;
    position: absolute;
    transform: rotate(0);
    opacity: 1;
    transition: all 0.5s ease-in;
}

.rotatable {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .rotated {
    transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg); 
  }

  .faded {
    opacity: 0;
  }